<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('partials/_head.ejs') %>
</head>
<body class="index">
<%- partial('partials/_header.ejs') %>
<main><%- yield %></main>
<%- partial('partials/_footer.ejs') %>

</body>
</html>
