<%
for(key in public.articles._data) {
  var article = public.articles._data[key];
%>
<section class="blog-summary">
  <header>
    <h1><a href="<%- url %>articles/<%- key %>.html"><%- article.title %></a></h1>
  </header>
  <footer>
    <p><%- article.blurb || '' %></p>
  </footer>
</section>
<% } %>
