<section id="footer">
    <footer>
        <p>Copyright (C) <%- new Date().getFullYear() %> <%- name %></p>
        <ul>
            <li><a href="<%- githubUrl %>" target="_blank"><i class="home-social-github"></i></a></li>
            <li><a href="<%- twitterUrl %>" target="_blank"><i class="home-social-twitter"></i></a></li>
        </ul>
    </footer>
</section>
