<section id="header">
    <header><h1><a href="<%- url %>"><%- name %></a></h1></header>
    <footer>
        <h2><%- description %></h2>
    </footer>
</section>
<aside>
    <%- partial('shapes/_triangleDown.ejs') %>
</aside>